<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header
            .container
                .header__content 
                    .logo 
                        img(src=require('./assets/img/logo.png').default, alt="logo")
                        img(src=require('./assets/img/logo.png').default, alt="logo").logo__reverse
                    nav
                        ul.header__menu 
                            li
                                a(href="#") Main
                            li
                                a(href="#") Gallery
                            li
                                a(href="#") News
                            li
                                a(href="#") Profile
                    .header__contact 
                        span +544 3490 00000
                        | Звони скорее!
                .header__title 
                    h1 Найдено 349 котов
        main 
            .container 
                .sortBy 
                    span Сортировать по:
                    .sortBy__price(id="sortByPrice") 
                        | Цене 
                        <i class="fas fa-chevron-down"></i>
                    .sortBy__age
                        | Возрасту 
                        <i class="fas fa-chevron-down"></i>
                div(id="catalog")
                .load__more(id="addMore")
                    span Показать еще 20 товаров
                section.promo
                    .promo__title 
                        h1 Успей купить! 
                        p Подпишись и успей <br> словить все акции
                    .promo__form
                        form(action="")
                            input(type="email" placeholder="Email").promo__form__email
                            input(type="submit" value="Подписаться").promo__form__button
                            br
                            .promo__form__subscribe
                                input(type="checkbox" id="news")
                                    
                                label(for="news")
                                    | Подписаться на новости

                