
body, p, ul {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

* {
    transition: .3s;
}

.error,
.notification {
    padding: 10px;
    background-color: #E52D2D;
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.notification {
    background-color: #6EBBD3;
}

.scrollTop {
    display: none;
    width: 59px;
    height: 59px;
    background-color: #6EBBD3;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    
    cursor: pointer;
    transition: 1s;
    &:hover i {
        transform: scale(1.5);
    }
}

.scrollTop_show {
    display: flex;
}

.menuBurger,
.menuBurger_open  {
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #6EBBD3, $alpha: .2);
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    .close {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30px;
        left: 30px;
        i {
            font-size: 3rem;
        }
    }
    .burger__menu {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        li {
            position: relative;
            display: inline-block;
            a {
                text-decoration: none;
                color: white;
                font-size: 3.5rem;
                &:hover {
                    color: #6EBBD3;
                }
            }
            &::after {
                visibility: hidden;
                content: '';
                position: absolute;
                bottom: -20px;
                left: 50%;
                width: 40vw;
                height: 1px;
                margin-left: -20vw;
                background-color: #6EBBD3;
            }
            &:hover {
                &::after {
                    visibility: visible;
                    bottom: -10px;
                    transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
                }
            }
        }
    }
}

.menuBurger_open {
    visibility: visible;
    background-color: rgba($color: black, $alpha: .9);
    left: 0;
}

@media (max-width: 580px) {
    header .header__content nav {
        display: none;
    }


}

header {
    position: relative;
    background-color: rgba(31, 32, 33, 0.79);
    padding: 40px 0px 66px 0px;
    background-image: url(../assets/img/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(31, 32, 33, 0.79);
    }

    .header__content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 4fr 2fr;
        z-index: 2;
        .openMenuBurger {
            display: none;
            i {
            
                font-size: 3rem;
            }
            @media (max-width: 580px) {
                display: block;
            }
        }
        @media (max-width: 1060px) {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 2fr 5fr;
            .header__contact {
                align-items: flex-start;
                grid-row: 2/3;
            }
        }
        @media (max-width: 878px) {
            grid-template-columns: auto;
            row-gap: 30px;
        }

    }



    .header__title {
        position: relative;
        z-index: 2;
        margin-top: 50px;
    }

    .logo {
        position: relative;
        width: 78px;
        height: 50px;
        .logo__reverse {
            position: absolute;
            left: 15px;
            transform: rotate(180deg);
        }
    }
    nav {
        display: flex;
        align-items: center;
        .header__menu {
            display: flex;
            list-style: none;
            li {
                position: relative;
                margin-right: 80px;
                &::after {
                    visibility: hidden;
                    content: '';
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    width: 30px;
                    height: 1px;
                    margin-left: -15px;
                    background-color: #6EBBD3;
                }
                &:hover {
                    &::after {
                        visibility: visible;
                        bottom: -5px;
                        transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
                    }
                    a {
                        color: #6EBBD3;
                    }
                }
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: 400;
                    &:active {
                        color: #1F2021;
                    }
                }
            }
        }
    }
    .header__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        span {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

}

main {
    padding: 37px 0px 83px 0px;
    .sortBy {
        display: flex;
        span {
            font-weight: bold;
            margin-right: 48px;    
        }
        .checkedSort {
            i {
                transform: rotate(180deg);
            }
        }
        .sortBy__price,
        .sortBy__age  {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                color: #6EBBD3;
                i {
                    color: #6EBBD3;
                }
            }
            i {
                margin-left: 14px;
            }
        }
        .sortBy__price {
            margin-right: 55px;
        }
        @media (max-width: 490px) {
            flex-direction: column;
            .sortBy__price {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    #catalog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 21px;
        row-gap: 27px;
        padding-top: 38px;
        padding-bottom: 68px;
        .item {
            .item__content {
                background: #F3F3F3;
                overflow: hidden;
                .item__content__wrapper {
                    padding: 29px 33px 29px 29px;
                    @media (max-width: 420px) {
                        padding-left: 10px;
                        padding-right: 5px;
                    }
                }
                .item__content__title {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                .item__content__description {
                    position: relative;
                    margin: 22px 0px;
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    padding-left: 18px;
                    font-size: 0.75rem;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 4px;
                        height: 26px;
                        margin-left: -18px;
                        background-color: #6EBBD3;
                    }
                    b {
                        font-size: 1rem;
                    }
                    .paw {
                        padding-left: 20px;
                    }
                }
                .item__content__price {
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 30px;

                }
                .item__photo {
                    position: relative;
                    overflow: hidden;
                    img {
                        transition: 1s;
                        width: 100%;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .item__photo__sale {
                        display: none;
                        position: absolute;
                        top: 34px;
                        left: 38px;              
                        justify-content: center;
                        align-items: center;
                        width: 78px;
                        height: 39px;
                        background: #E62D2D;
                        border-radius: 10px;
                        span {
                            color: white;
                            font-size: 1rem;
                            line-height: 1.25rem;
                        }
                    }
                    .item__photo__like {
                        position: absolute;
                        top: 36px;
                        right: 32px;
                        width: 46px;
                        height: 40px;
                        background-image: url(../assets/img/like.png);
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
            }

            .item__button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 65px;
                background-color: #6EBBD3;
                border-radius: 0px 0px 15px 15px;
                cursor: pointer;
                transition: 1s;
                &:hover {
                    transform: scale(1.1);
                }
                span {
                    color: white;
                    font-size: 1rem;
                    font-weight: 700;
                }
            }

            .item__button_soldOut {
                background-color: #1F2021;
                cursor: default;
            }



        }

        .sale .item__content .item__photo .item__photo__sale {
            display: flex;
        }
        .like .item__content .item__photo .item__photo__like {
            opacity: 1;
        }
        @media (max-width: 1060px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 680px) {
            grid-template-columns: auto;
        }
    }
    .load__more {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 380px;
        height: 65px;
        margin: 0 auto;
        border: 1px solid #CACACA;
        box-sizing: border-box;
        border-radius: 10px;
        cursor: pointer;
        span {
            font-size: 0.875rem;
        }
        &:hover {
            background-color: #6EBBD3;
            border: 2px solid rgba($color: #1F2021, $alpha: .6);
            span {
                color: white;
            }
        }
    }
    .promo {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 83px;
        background-color: #1F2021;
        padding: 83px 80px 92px 80px;
        color: white;
        .promo__title{
            h1 {
                font-size: 3rem;
                font-weight: 700;
                line-height: 58px;
                margin-top: 0;
                margin-bottom: 26px;
            }
            p {
                font-size: 1.75rem;
                line-height: 25px;
            }
        }
        .promo__form {
            display: flex;
            justify-content: center;
            align-items: center;
            .promo__form__email {
                width: 300px;
                height: 65px;
                background: #FFFFFF;
                border-radius: 10px;
                padding-left: 33px;
                &::placeholder {
                    font-size: 14px;
                    line-height: 17px;
                }
                margin-right: 16px;
            }
            .promo__form__button {
                width: 250px;
                height: 65px;
                background: #6EBBD3;
                border-radius: 10px;
                cursor: pointer;
                color: white;
                font-weight: 700;
                transition: 1s;
                &:hover {
                    transform: scale(1.05);
                }
            }
            .promo__form__subscribe {
                margin-top: 24px;
                display: flex;
                align-items: center;
                input {
                    visibility: hidden;
                    position: absolute;
                }

                input:checked + label::before  {
                    background-color: #6EBBD3;
                    background-image: url(../assets/img/checkbox.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }

                input:hover + label::before {
                    border-color: #6EBBD3;
                }

                label {
                    font-size: 14px;
                    line-height: 17px;
                    cursor: pointer;

                    &::before {
                        content: '\00a0';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        background: white;
                        border-radius: 3px;
                        border: 1px solid #adb5bd;
                        margin-right: 18px;
                        box-sizing: border-box;
                    }
                }
            }
        }
        @media (max-width: 1220px) {
            grid-template-columns: auto;
            row-gap: 60px;
            .promo__title {
                text-align: center;
            }
        }
        @media (max-width: 878px) {
            .promo__form form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .promo__form__email {
                    margin-bottom: 30px;
                    margin-right: 0;
                }
            }
        }
        @media (max-width: 580px) {
            padding-left: 5px;
            padding-right: 5px;
        }
        @media (max-width: 490px) {
            .promo__form .promo__form__email {
                width: 220px;
            }
        }
    }
}