
body, p {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.error,
.notification {
    padding: 10px;
    background-color: #E52D2D;
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.notification {
    background-color: #6EBBD3;
}

.scrollTop {
    display: none;
    width: 59px;
    height: 59px;
    background-color: #6EBBD3;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: 1px solid black;
    cursor: pointer;
}

.scrollTop_show {
    display: flex;
}

header {
    position: relative;
    background-color: rgba(31, 32, 33, 0.79);
    padding: 40px 0px 66px 0px;
    background-image: url(../assets/img/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(31, 32, 33, 0.79);
    }

    .header__content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 4fr 2fr;
        grid-column-gap: 120px;
        z-index: 2;
    }

    .header__title {
        position: relative;
        z-index: 2;
        margin-top: 50px;
    }

    .logo {
        position: relative;
        width: 78px;
        height: 50px;
        .logo__reverse {
            position: absolute;
            left: 15px;
            transform: rotate(180deg);
        }
    }
    nav {
        .header__menu {
            display: flex;
            list-style: none;
            li {
                margin-right: 80px;
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: 400;
                }
            }
        }
    }
    .header__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        span {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}

main {
    padding: 37px 0px 83px 0px;
    .sortBy {
        display: flex;
        span {
            font-weight: bold;
            margin-right: 48px;    
        }
        .sortBy__price,
        .sortBy__age  {
            display: flex;
            align-items: center;
            cursor: pointer;
            i {
                margin-left: 14px;
            }
        }
        .sortBy__price {
            margin-right: 55px;
        }
    }
    #catalog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 21px;
        row-gap: 27px;
        padding-top: 38px;
        padding-bottom: 68px;
        .item {
            .item__content {
                background: #F3F3F3;
                .item__content__wrapper {
                    padding: 29px 33px 29px 29px;
                }
                .item__content__title {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                .item__content__description {
                    position: relative;
                    margin: 22px 0px;
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    padding-left: 18px;
                    font-size: 0.75rem;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 4px;
                        height: 26px;
                        margin-left: -18px;
                        background-color: #6EBBD3;
                    }
                    b {
                        font-size: 1rem;
                    }
                    .paw {
                        padding-left: 20px;
                    }
                }
                .item__content__price {
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 30px;
                }
                .item__photo {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    .item__photo__sale {
                        display: none;
                        position: absolute;
                        top: 34px;
                        left: 38px;              
                        justify-content: center;
                        align-items: center;
                        width: 78px;
                        height: 39px;
                        background: #E62D2D;
                        border-radius: 10px;
                        span {
                            color: white;
                            font-size: 1rem;
                            line-height: 1.25rem;
                        }
                    }
                    .item__photo__like {
                        position: absolute;
                        top: 36px;
                        right: 32px;
                        width: 46px;
                        height: 40px;
                        background-image: url(../assets/img/like.png);
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
            }

            .item__button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 65px;
                background-color: #6EBBD3;
                border-radius: 0px 0px 15px 15px;
                cursor: pointer;
                span {
                    color: white;
                    font-size: 1rem;
                    font-weight: 700;
                }
            }

            .item__button_soldOut {
                background-color: #1F2021;
                cursor: default;
            }



        }

        .sale .item__content .item__photo .item__photo__sale {
            display: flex;
        }
        .like .item__content .item__photo .item__photo__like {
            opacity: 1;
        }
    }
    .load__more {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 380px;
        height: 65px;
        margin: 0 auto;
        border: 1px solid #CACACA;
        box-sizing: border-box;
        border-radius: 10px;
        cursor: pointer;
        span {
            font-size: 0.875rem;
        }
    }
    .promo {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 83px;
        background-color: #1F2021;
        padding: 83px 80px 92px 80px;
        color: white;
        .promo__title{
            h1 {
                font-size: 3rem;
                font-weight: 700;
                line-height: 58px;
                margin-top: 0;
                margin-bottom: 26px;
            }
            p {
                font-size: 1.75rem;
                line-height: 25px;
            }
        }
        .promo__form {
            display: flex;
            justify-content: center;
            align-items: center;
            .promo__form__email {
                width: 300px;
                height: 65px;
                background: #FFFFFF;
                border-radius: 10px;
                padding-left: 33px;
                &::placeholder {
                    font-size: 14px;
                    line-height: 17px;
                }
                margin-right: 16px;
            }
            .promo__form__button {
                width: 250px;
                height: 65px;
                background: #6EBBD3;
                border-radius: 10px;
                cursor: pointer;
                color: white;
                font-weight: 700;
            }
            .promo__form__subscribe {
                margin-top: 24px;
                display: flex;
                align-items: center;
                input {
                    visibility: hidden;
                    position: absolute;
                }

                input:checked + label::before  {
                    background-color: #6EBBD3;
                    background-image: url(../assets/img/checkbox.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }

                input:hover + label::before {
                    border-color: #6EBBD3;
                }

                label {
                    font-size: 14px;
                    line-height: 17px;
                    cursor: pointer;

                    &::before {
                        content: '\00a0';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        background: white;
                        border-radius: 3px;
                        border: 1px solid #adb5bd;
                        margin-right: 18px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}